<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="club.css">
        <title>Main</title>
    </head>

    <body>
        <nav>
            {% include "mainMenu.html" %}
        </nav>

        <main>
            {{mainContent}}
        </main>

        <footer>Copyright @ 2021 Leo Lin</footer>
    </body>
</html>
