{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Thank You</title>
{% endblock %}
    
{% block main %}
    <h1>Thank you for signing up!</h1>
    <h2>Name: {{user_name}}</h2>
    <h2>Email: {{user_email}}</h2>
    <h2>Message: {{user_message}}</h2>
{% endblock %}