{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Welcome</title>
{% endblock %}
    
{% block main %}
    <h1>Welcome {{user.user_name}}</h1>
    <h2>Your email: {{user.user_email}}</h2>
    <h2>Your role: {{user.role}}</h2>
{% endblock %}