<!DOCTYPE html>
<html lang="en">
    <head>
        <h1>{{title}}</h1>
        <h1>{{author}}</h1>
        <h1>{{description}}</h1>
    </head>
    <body>
    <nav>
        
    </nav>
    <main>
        {{mainContent | safe}}
    </main>
    </body>
</html>