<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <title>{{author}}</title>
        <title>{{description}}</title>
    </head>
    <body>
    <nav>
        
    </nav>
    <main>
        {{mainContent | safe}}
    </main>
    </body>
</html>