<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block metaStuff %}
        {% endblock %}
        <link href="club.css" rel="stylesheet">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./activities">Activities</a></li>
                <li><a href="./login">Login</a></li>
                <li><a href="./membership">Membership</a></li>
                {% if user.role == 'admin' and user.loggedin %}
                <li><a href="./users">Members</a></li>
                {% endif %}
                {% if user.loggedin %}
                <li><a href="./addActivityForm">Add Activity</a></li>
                <li><a href="./logout">Logout</a></li>
                {% endif %}
            </ul>
        </nav>

        <main>
            {% block main %}
            {% endblock %}
        </main>
        
        <footer>
            <p>Copyright @ 2021 Leo Lin</p>
        </footer>
    </body>
</html>