{% extends "base.njk" %}

{% block metaStuff %}
    <title>Server Uptime</title>
{% endblock %}
    
{% block main %}
    <h2>count: {{count}}</h2>
    <h2>startDate: {{startDate}}</h2>
    <h2>yourName: {{yourName}}</h2>
    <h2>netId: {{netId}}</h2>
{% endblock %}