{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Home</title>
{% endblock %}
    
{% block main %}
    <main>
        <header>
            <h1>My Game Club</h1>
        </header>

        <h2>Dark Souls 3 (2016)</h2>
        <img src="darkSouls3.jpg" alt="Dark Souls 3" style = "width:640px;height:360px;">
        <p>
            Dark Souls 3 is an action RPG.
        </p>
        <p>
            Rating: 9 x &#128578; / 10
        </p>

        <h2>Slay the Spire (2019)</h2>
        <img src="slayTheSpire.jpg" alt="Slay the SpireS" style = "width:640px;height:360px;">
        <p>
            Slay the Spire is a roguelike card battler.
        </p>
        <p>
            Rating: 8 x &#128578; / 10
        </p>

        <h2>Pathfinder: Kingmaker (2018)</h2>
        <img src="pathfinderKingmaker.jpg" alt="Pathfinder Kingmaker" style = "width:640px;height:360px;">
        <p>
            Pathfinder: Kingmaker is a lesson in pain.
        </p>
        <p>
            Rating:  &#10067; / 10
        </p>
    </main>
{% endblock %}