{% extends "base.njk" %}

{% block metaStuff %}
        <title>Server Uptime</title>
{% endblock %}
    
{% block main %}
    <h1>Server Uptime</h1>
    <h2>Server Started: {{startDate}}</h2>
    <!-- more stuff -->

{% endblock %}