{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Club Home Page</title>
{% endblock %}
    
{% block main %}
    <main>
        <header>
            <h1>Leo's Go Home Club</h1>
            <h2>(No structure, no connective thought, just jank)</h2>
        </header>

        <h2>Dark Souls 3</h2>
        <img src="ds3_cover_art.jpg" alt="dark souls 3 cover art" style = "width:640px;height:360px;">
        <p>
            Dark Souls is a game where the challenge is part of the fun. Initially you will struggle and fail
            many, many times, but if you persevere, you'll also find it to be a rewarding game. It's especially
            cathartic to overcome hurdles you first thought improbable, or even impossible. There's something to
            be said about how a world that's brutal in its gameplay also makes the narrative feel like it's worth
            investing your time in. It's not easy to beat Dark Souls, but it's meant to be beaten, and it's meant
            to be fun, not sadistic. It's certainly not for everyone, but I think everyone should at least try it,
            you never know if it might captivate you.
        </p>
        <p>
            My rating in emoji: 9 x &#128578; / 10
        </p>

        <h2>Slay the Spire</h2>
        <img src="slay_the_spire_cover_art.jpg" alt="slay the spire cover art" style = "width:640px;height:360px;">
        <p>
            Similar to Dark Souls, Slay the Spire is a challenging game, but in a different way. Rather than demanding
            mastery from repetition, Slay the Spire asks the player to make the best based on their circumstance. It's
            a card game where the goal is to attempt to ascend to the peak of the spire. The fun comes from making tough
            decisions based on random events. The randomness comes in the form of the cards you draft into your deck, the
            randomly generated events, and even the boss you fight. Unlike Dark Souls, you can't achieve perfection through
            practice, the central challenge for this game is to adapt to your situation and make the best decision you can.
        </p>
        <p>
            My rating in emoji: 8 x &#128578; / 10
        </p>

        <h2>Pathfinder: Kingmaker</h2>
        <img src="kingmaker_cover_art.jpg" alt="pathfinder kingmaker cover art" style = "width:640px;height:360px;">
        <p>
            I think there's a fine line between obscuring the details of a game's mechanics and simply not explaining it well,
            as someone who's never played the tabletop version of this game, I had no clue what was happening during character
            creation. I think it would be nice to have an explanation of some of the basics of the game that's more concise at
            the start of the game, because a bunch of examples doesn't help when you don't have a context for the numbers. I
            personally wasn't looking forward to learning the intricacies and minutias of this game, but some people are, and for
            them, this game is a godsend. As for me, it's unfortunate I couldn't enjoy the game more, because it's very rare for
            games to deliberately have punishing mechanics and tough decisions as part of their appeal. Unfortunate.
        </p>
        <p>
            My rating in emoji:  &#10067; / 10
        </p>
    </main>
{% endblock %}