{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Login Error</title>
{% endblock %}
    
{% block main %}
    <h1>Login Error</h1>
    <h2>Please try again or contact the administrator</h2>
{% endblock %}