{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Thank You</title>
{% endblock %}
    
{% block main %}
    <h1>Thank you for signing up!</h1>
    <h2>Name: {{firstName}} {{lastName}}</h2>
    <h2>Email: {{email}}</h2>
    <h2>Message: {{message}}</h2>
{% endblock %}