{% extends "base.njk" %}

{% block metaStuff %}
    <title>Server Uptime</title>
{% endblock %}
    
{% block main %}
    <h1>Server Uptime</h1>
    <h2>Server Started: {{startTime}}</h2>
    <h2>Current Date/Time: {{currentTime}}</h2>
{% endblock %}