{% extends "clubBase.njk" %}

{% block metaStuff %}
    <title>Welcome</title>
{% endblock %}
    
{% block main %}
    <h1>Welcome {{user.firstName}} {{user.lastName}}</h1>
    <h2>Email: {{user.email}}</h2>
    <h2>Role: {{user.role}}</h2>
{% endblock %}